// Generate background colors
$bg-colors: (
  green: #87b87f,
  blue: #86bce2,
  red: #d15b47,
  grayish: #f3f8f2
);

@each $name, $color in $bg-colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

// Generate icons
$icons: plus, minus, delete, edit, confirm, close, zoom-in, zoom-out;

@each $icon in $icons {
  .icon-#{$icon} {
    background-image: url('../icons/' + $icon + '.svg');
  }
}

// Utility classes
.icon {
  display: inline-flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}

.shadow {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.animate {
  transition: 0.4s all ease-out;
}

.hide {
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}

.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}
